{% extends "base.html" %}

{% block title %} Home {%endblock title%}

{% block body %}  

    <div class="container">  
        <h1 class="text-center my-4">Welcome to Your Application</h1>  
        <div class="row">  
            <div class="col-md-8 mx-auto">  
                <div class="card shadow-custom">  
                    <div class="card-body">  
                        <h5 class="card-title">Feature Title</h5>  
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of  
                            the card's content.</p>  
                        <a href="#" class="btn btn-primary">Go somewhere</a>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>  
{% endblock body%}

     